<!doctype html>
<html lang="en">
	<%- include("./template/css.ejs") %>
	<body>
		<header class="header__section">
			<%- include("./template/login_info.ejs") %>
			<div class="main_header mainheader2 header_sticky sticky" style="margin-top: 36px;">
				<div class="container">
					<div class="main_header--inner position_relative d-flex justify-content-between align-items-center">
						<div class="offcanvas_header--menu_open ">
							<a class="offcanvas_header--menu_open--btn" href="javascript:void(0)" data-offcanvas>
							</a>
						</div>
						<%- include("./template/header_menu.ejs") %>
					</div>
				</div>
			</div>
			<%- include("./template/toolbar.ejs") %>
			<%- include("./template/search_box.ejs") %>
			<%- include("./template/card.ejs") %>
		</header>
	<!-- End header area -->

	<main class="main__content_wrapper">
    <section class="product__section section--padding mt-100">
      <div class="container">
        <div class="col-lg-12 mt-3">
          <nav>
            <ol class="cd-breadcrumb custom-separator">
              <li><a href="javascript:void(0)">Home</a></li>
              <li class="current"><em>Pembayaran</em></li>
            </ol>
          </nav>
        </div>
          <div class="detailPembayaran">
            <p>Detail Pembayaran:</p>
            <form action="#">
              <div class="checkout_content--step checkout_contact--information2 border-radius-5">
                <div class="checkout__review d-flex justify-content-between align-items-center">
                  <div class="checkout__review--inner d-flex align-items-center">
                    <span class="checkout__review--content">Tanggal</span>
                  </div>
                  <div class="checkout__review--link">
                    <div id="tanggalOrderPay" class="checkout_review--link_text"></div>
                  </div>
                </div>
                <div class="checkout__review d-flex justify-content-between align-items-center">
                  <div class="checkout__review--inner d-flex align-items-center">
                    <span class="checkout__review--content">Jadwal Makan</span>
                  </div>
                  <div class="checkout__review--link">
                    <div id="waktuOrderPay" class="checkout_review--link_text"></div>
                  </div>
                </div>
                <div class="checkout__review d-flex justify-content-between align-items-center">
                  <div class="checkout__review--inner d-flex align-items-center">
                    <span class="checkout__review--content"> Total Harga</span>
                  </div>
                  <div class="checkout__review--link">
                    <div class="checkout_review--link_text">Rp. <span class="total"></span></div>
                  </div>
                </div>
                <div class="checkout__review d-flex justify-content-between align-items-center">
                  <div class="checkout__review--inner d-flex align-items-center">
                    <span class="checkout__review--content"> Metode Pembayaran
                    </span>
                  </div>
                  <div class="checkout__review--link">
                    <div class="checkout_review--link_text">Midtrans</div>
                  </div>
                </div>
              </div>
            </form>
            <small>* Apabila total harga tidak sesuai, periksa kembali keranjang makanan anda atau <a href="javascript:void(0)" class="minicart__open--btn openCard" data-offcanvas>Klik Disini</a></small><br>
            <small>* Setelah melakukan pembayaran, silahkan kembali ke halaman ini dan tunggu sampai transaksi sukses</small>
            <!-- <br><br> -->

            <div class="text-right">
              <!-- <img src="/img/qr.jpg" class="mx-auto" alt="QR" style="width: 300px;"> -->

              <button id="pay" class="btn btn-primary mt-3" onclick="snapPay()">Bayar Sekarang</button>  
            </div>
            <br><br>
            <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end"> -->
              <!-- <div class="checkout_content--step_footer d-md-flex justify-content-md-end">
                <a class="btnPay continue__shipping--btn btn border-radius-5" href="javascript:void(0)">Bayar</a>
              </div> -->
          </div>

          <!-- Start deals banner section -->
          <section class="statusPembayaran deals_banner--section banner_bg">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-5 col-md-5 deals__baner--col">
                  <div class="deals__banner--content">
                    <h3 class="deals_banner--contentsubtitle text_secondary">Pembayaran Berhasil!</h3>
                    <h2 class="deals_banner--content_maintitle">Kami akan mengirim pesanan sesuai tanggal yang anda pilih.</h2>
                    <div class="checkout_content--step_footer d-md-flex mt-3">
                      <a class="continue__shipping--btn btn border-radius-5" href="/">Kembali Ke Beranda</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 deals__baner--col">
                  <div class="banner__items text-right">
                    <div class="banner__items--thumbnail display-block">
                      <img class="banner_items--thumbnail_img display-block" src="/img/banner/banner-layer.png" alt="banner-layer-img">
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </section>
          <!-- End deals banner section -->
        </div>
      </div>
    </section>
    <!-- End product section -->
  </main>
  <%- include("./template/footer.ejs") %>
  <%- include("./template/js.ejs") %>
  <script src="<%-snapLink%>" data-client-key="<%-clientID%>"></script>
  <script>
    $(document).ready(function(){     
      moment.locale('id');

      $('.detailPembayaran').show();
      $('.statusPembayaran').hide();

      $(".btnPay").click(function(){
        confirmPay();
      });

      if(!localStorage.getItem('waktuBayar') && !localStorage.getItem('tanggalOrder')){
        return window.location.href="/"
      }

      if(localStorage.getItem('tanggalOrder')){
        $("#tanggalOrderPay").html(moment(localStorage.getItem('tanggalOrder')).format('dddd, DD MMM YYYY'))
      }

      if(localStorage.getItem('waktuBayar')){
        $("#waktuOrderPay").html(localStorage.getItem('waktuBayar'))
      }
      calculateTotal(); 
      
    });

    function snapPay(){
      $.LoadingOverlay("show");
      if(totalOrder > 0){
        $.ajax({
          url: "/pay/snapPay",
          type: "POST",
          dataType: "json",
          data: {
            waktu: localStorage.getItem('waktuBayar'),
            date: localStorage.getItem('tanggalOrder'),
            subtotal: subTotalOrder,
            total: totalOrder,
            resultCard: JSON.parse(localStorage.getItem('resultCard'))
          },
          success: function(ress) {
            $.LoadingOverlay("hide");
            localStorage.setItem('remove_existing', true);
            snap.pay(ress.result, {
              onSuccess: function(result){
                $.LoadingOverlay("hide");
                ChangeStatus(ress.result, ress.uid);
              },
              onPending: function(result){
                  swal("Notifikasi!", result.response, "error");
              },
              onError: function(result){
                swal("Notifikasi!", result.response, "error");
              }
            })
          },error: function(err, data) {
            $.LoadingOverlay("hide");
            swal('Notifikasi', err.responseJSON.response, 'error');
          }
        });
      }else{
        confirmPay()
      }
    }

    function confirmPay(){
      $.LoadingOverlay("show");
      $.ajax({
        url: "/pay/confirmPay",
        type: "POST",
        dataType: "json",
        data: {
          waktu: localStorage.getItem('waktuBayar'),
          date: localStorage.getItem('tanggalOrder'),
          subtotal: subTotalOrder,
          total: totalOrder,
          resultCard: JSON.parse(localStorage.getItem('resultCard'))
        },
        success: function(ress) {
          $.LoadingOverlay("hide");
          $.LoadingOverlay("hide");
          if(ress.response == 'Successful'){
            $('.detailPembayaran').hide();
            $('.statusPembayaran').show();
            resultCard = []
            subTotalOrder = 0
            totalOrder = 0
            localStorage.removeItem('tanggalOrder')
            localStorage.removeItem('waktuBayar')
            localStorage.removeItem('resultCard')
            updateCard();
          }else{
            $.LoadingOverlay("hide");
            $.LoadingOverlay("hide");
            swal("Notifikasi!", ress.response, "error");
          }
        },error: function(err, data) {
          $.LoadingOverlay("hide");
          $.LoadingOverlay("hide");
          swal("Notifikasi!", "Cannot acces server", "error");
        }
      });
    }

    function ChangeStatus(midtrans, uid){
      $.LoadingOverlay("show");
      $.ajax({
        url: `/pay/changeStatus?uid_midtrans=${midtrans}&uid=${uid}`,
        type: "GET",
        dataType: "json",
        success: function(ress) {
          $.LoadingOverlay("hide");
          if(ress.response == 'Successful'){
            $('.detailPembayaran').hide();
            $('.statusPembayaran').show();
            resultCard = []
            subTotalOrder = 0
            totalOrder = 0
            localStorage.removeItem('tanggalOrder')
            localStorage.removeItem('waktuBayar')
            localStorage.removeItem('resultCard')
            updateCard();
          }else{
            $.LoadingOverlay("hide");
            swal("Notifikasi!", ress.response, "error");
          }
        },error: function(err, data) {
          $.LoadingOverlay("hide");
          swal("Notifikasi!", "Cannot acces server", "error");
        }
      });
    }
  </script>
</body>
</html>