<!doctype html>
<html lang="en">
<%- include("../template/css.ejs") %>
<body>
  <header class="header__section">
    <%- include("../template/login_info.ejs") %>
    <div class="main__header main__header2 header__sticky sticky" style="margin-top: 36px;">
      <div class="container">
        <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
          <div class="offcanvas__header--menu__open ">
            <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
            </a>
          </div>
          <%- include("../template/header_menu.ejs") %>
        </div>
      </div>
    </div>
    <%- include("../template/toolbar.ejs") %>
    <%- include("../template/search_box.ejs") %>
    <%- include("../template/card.ejs") %>
  </header>
	<!-- End header area -->

<section class="product__section section--padding mt-100">
  <div class="container">
    <div class="row d-flex justify-content-end">
      <div class="col-lg-12 mt-3">
        <nav>
          <ol class="cd-breadcrumb custom-separator">
            <li><a href="javascript:void(0)">User</a></li>
            <li class="current"><em>Order History</em></li>
          </ol>
        </nav>
      </div>
      <div class="col-lg-4">
        <div class="contact__form--list mb-15">
          <label class="contact__form--label" for="name">Tanggal Pengiriman <span class="contact__form--label__star">*</span>
          </label>
          <input id="tanggal" class="contact__form--input" name="tanggal" type="date" required>
        </div>
      </div>
      <div class="col-lg-12">  
        <div>
          <table class="cart__table--inner" id="tableorder">
            <tbody class="cart__table--body">
               
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
<%- include("../template/footer.ejs") %>
<%- include("../template/js.ejs") %>
  <script type="text/javascript">
    $(document).ready(function(){    
      listOrder();
    });

    $("#tanggal").change(function(){
      listOrder();
    })

    function listOrder(){
      $.ajax({
        url: `/user/order/listOrder?tanggal=${$("#tanggal").val()}`,
        type: "GET",
        dataType: "json",
        data: {
          
        },
        success: function(ress) {
          if(ress.response == "Successful"){
            var html = ''
            $.each(ress.result, function(index, val){
                html+=`<tr class="cart__table--body__items" onclick="detailOrder('${val[0]}')">
                    <td class="cart__table--body__list">
                        <div class="product__image two  d-flex align-items-center">
                            <div class="product__description">
                                <h3 class="product__description--name h4"><a href="javascript:void(0)">${moment(val[3]).format('DD MMMM YYYY')} (${val[5]})</a></h3>
                                <span class="product__description--variant">Tanggal Pengiriman: ${moment(val[2]).format('DD MMMM YYYY')}</span><br><span class="product__description--variant">List Tambahan Pesanan: </span><ul>`
                                $.each(ress.order_details, function(index2, val2){
                                  if(val2.id == val[0]){
                                    html+=`<li class="li-style-number">${val2.paket} x ${val2.qty} - Rp ${thousandSeparator(parseInt(val2.rate))}</li>`
                                  }
                                });
                            html+=`</ul></div>
                        </div>
                    </td>
                    <td class="cart__table--body__list text-right">
                        <span class="cart__price">Rp ${thousandSeparator(parseInt(val[4]))}</span>
                    </td>
                </tr>`;
            })
            $("#tableorder tbody").html(html)
          }else{
            swal("Notifikasi!", 'Cannot acces server', "error");
          }
        },error: function(err, data) {
          swal("Notifikasi!", 'Cannot acces server', "error");
        }
			});
    }
  </script>
</body>
</html>